/node_modules
/public/build
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/logs/*.log
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
homestead.json
homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.pull-requests
.vercel
.phpunit.cache
.vscode
/bootstrap/cache/*.php
